*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

:root {
    /*----Paddings, Margins----*/
    --xs: 8px;
    --s: 12px;
    --sm: 16px;
    --md: 24px;
    --lg: 32px;
    --xl: 40px;

    /*----Fonts----*/
    --font-family: "Inter", sans-serif;

    /*------ Font weights ------*/
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    /*------ Font sizes & line heights ------*/
    --text-xs-size: 12px;
    --text-xs-line-height: 16px;

    --text-sm-size: 14px;
    --text-sm-line-height: 20px;

    --text-base-size: 16px;
    --text-base-line-height: 24px;

    --text-lg-size: 18px;
    --text-lg-line-height: 28px;

    --text-xl-size: 20px;
    --text-xl-line-height: 28px;

    --text-xxl-size: 24px;
    --text-xxl-line-height: 32px;

    --text-3xl-size: 30px;
    --text-3xl-line-height: 36px;

    --text-4xl-size: 36px;
    --text-4xl-line-height: 40px;

    --text-5xl-size: 48px;
    --text-5xl-line-height: 56px;

    /*------Text tokens------*/
    /*font: [font-weight] [font-size]/[line-height] [font-family]*/
    --text-xs: var(--font-weight-regular) var(--text-xs-size)/var(--text-xs-line-height) var(--font-family);
    --text-sm: var(--font-weight-regular) var(--text-sm-size)/var(--text-sm-line-height) var(--font-family);
    --text-base: var(--font-weight-regular) var(--text-base-size)/var(--text-base-line-height) var(--font-family);
    --text-lg: var(--font-weight-regular) var(--text-lg-size)/var(--text-lg-line-height) var(--font-family);
    --text-xl: var(--font-weight-medium) var(--text-xl-size)/var(--text-xl-line-height) var(--font-family);
    --text-xxl: var(--font-weight-semibold) var(--text-xxl-size)/var(--text-xxl-line-height) var(--font-family);
    --text-3xl: var(--font-weight-bold) var(--text-3xl-size)/var(--text-3xl-line-height) var(--font-family);
    --text-4xl: var(--font-weight-bold) var(--text-4xl-size)/var(--text-4xl-line-height) var(--font-family);
    --text-5xl: var(--font-weight-black) var(--text-5xl-size)/var(--text-5xl-line-height) var(--font-family);

    /*------Colors------*/
    --color-primary-900: #004D43;
    --color-primary-700: #00796B;
    --color-primary-500: #009180;
    --color-primary-300: #00BBA5;
    --color-primary-100: #CCF4ED;

    --color-primary-hover: #009d8e;
    --color-primary-active: #006E63;
    --color-primary-disabled: #9ACFC8;

    --color-error: #E74C3C;

    --textColor: #333333;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.mainContainer {
     flex: 1;
}
.footer {
    position: fixed;
    bottom: 0;
    height: var(--xl);
    width: 100%;
    background-color: var(--color-primary-500);
}
.header {
    height: var(--xl);
    width: 100%;
    background-color: var(--color-primary-300);
}

